//Colors
$color-white:rgb(255,255,255);
$color-red:rgb(255, 0, 0);
$color-crismon :crimson;
//Colors - icons social
$color-linkedin:rgb(0, 119, 181);
$color-facebook:rgb(66, 103, 178);
$color-github-p:rgb(94, 34, 127);
$color-googlePlus:rgb(220, 78, 65);
//Colors - icons tech
$color-html5:rgb(241, 101, 41);
$color-css3:rgb(113, 177, 221);
$color-js: rgb(255, 255, 0);
$color-gulp:rgb(235, 74, 75);
$color-git:rgb(240, 81, 51);
$color-react:rgb(113, 177, 221);
$color-php:rgb(119, 123, 179);
$color-database:rgb(113, 177, 221);
$color-node:rgb(118, 194, 99);
$color-vuejs:rgb(43, 187, 173);